
.project-box {
  border: 1px solid black;
  padding: 0px 15px 10px 15px;
  margin-bottom: 1em;
  width: 100%;
  height: 20em;
  text-align: center;
}

.project-box:hover {
  background-color: rgb(230, 230, 230);
}

@media screen and (min-width: 990px) {
  .project-box {
    margin: 1em;
  }
}

.languages {
  font-size: 0.9em;
  font-style: italic;
  width: 83%;
  position: absolute;
  bottom: 1em;
  text-align: center;
}

.box-link, .box-link:link, .box-link:visited, .box-link:active {
  text-decoration: none;
  color: black;
}

.title {
  color: indigo;
}